ul.breadcrumb
    li
        a(href='/')
            i.fa.fa-home.fa-fw
            | Home
    li.active {{ page.title }}
.page-header
    h1 {{ page.title }}
        | {% if page.tagline %}
        small {{ page.tagline }}
        | {% endif %}
.row
    .col-xs-12 {{content}}
