.highlighttable, .highlight {
  background-color: #f7f7f9;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  overflow: hidden; }
  .highlighttable .highlight, .highlight .highlight {
    border: 0; }
  .highlighttable .hll, .highlight .hll {
    background-color: #ffffcc; }
  .highlighttable .c, .highlight .c {
    color: #408080;
    font-style: italic; }
  .highlighttable .err, .highlight .err {
    border: 1px solid #FF0000; }
  .highlighttable .k, .highlight .k {
    color: #008000;
    font-weight: bold; }
  .highlighttable .o, .highlight .o {
    color: #666666; }
  .highlighttable .cm, .highlight .cm {
    color: #408080;
    font-style: italic; }
  .highlighttable .cp, .highlight .cp {
    color: #BC7A00; }
  .highlighttable .c1, .highlight .c1 {
    color: #408080;
    font-style: italic; }
  .highlighttable .cs, .highlight .cs {
    color: #408080;
    font-style: italic; }
  .highlighttable .gd, .highlight .gd {
    color: #A00000; }
  .highlighttable .ge, .highlight .ge {
    font-style: italic; }
  .highlighttable .gr, .highlight .gr {
    color: #FF0000; }
  .highlighttable .gh, .highlight .gh {
    color: #000080;
    font-weight: bold; }
  .highlighttable .gi, .highlight .gi {
    color: #00A000; }
  .highlighttable .go, .highlight .go {
    color: #888888; }
  .highlighttable .gp, .highlight .gp {
    color: #000080;
    font-weight: bold; }
  .highlighttable .gs, .highlight .gs {
    font-weight: bold; }
  .highlighttable .gu, .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .highlighttable .gt, .highlight .gt {
    color: #0044DD; }
  .highlighttable .kc, .highlight .kc {
    color: #008000;
    font-weight: bold; }
  .highlighttable .kd, .highlight .kd {
    color: #008000;
    font-weight: bold; }
  .highlighttable .kn, .highlight .kn {
    color: #008000;
    font-weight: bold; }
  .highlighttable .kp, .highlight .kp {
    color: #008000; }
  .highlighttable .kr, .highlight .kr {
    color: #008000;
    font-weight: bold; }
  .highlighttable .kt, .highlight .kt {
    color: #B00040; }
  .highlighttable .m, .highlight .m {
    color: #666666; }
  .highlighttable .s, .highlight .s {
    color: #BA2121; }
  .highlighttable .na, .highlight .na {
    color: #7D9029; }
  .highlighttable .nb, .highlight .nb {
    color: #008000; }
  .highlighttable .nc, .highlight .nc {
    color: #0000FF;
    font-weight: bold; }
  .highlighttable .no, .highlight .no {
    color: #880000; }
  .highlighttable .nd, .highlight .nd {
    color: #AA22FF; }
  .highlighttable .ni, .highlight .ni {
    color: #999999;
    font-weight: bold; }
  .highlighttable .ne, .highlight .ne {
    color: #D2413A;
    font-weight: bold; }
  .highlighttable .nf, .highlight .nf {
    color: #0000FF; }
  .highlighttable .nl, .highlight .nl {
    color: #A0A000; }
  .highlighttable .nn, .highlight .nn {
    color: #0000FF;
    font-weight: bold; }
  .highlighttable .nt, .highlight .nt {
    color: #008000;
    font-weight: bold; }
  .highlighttable .nv, .highlight .nv {
    color: #19177C; }
  .highlighttable .ow, .highlight .ow {
    color: #AA22FF;
    font-weight: bold; }
  .highlighttable .w, .highlight .w {
    color: #bbbbbb; }
  .highlighttable .mb, .highlight .mb {
    color: #666666; }
  .highlighttable .mf, .highlight .mf {
    color: #666666; }
  .highlighttable .mh, .highlight .mh {
    color: #666666; }
  .highlighttable .mi, .highlight .mi {
    color: #666666; }
  .highlighttable .mo, .highlight .mo {
    color: #666666; }
  .highlighttable .sb, .highlight .sb {
    color: #BA2121; }
  .highlighttable .sc, .highlight .sc {
    color: #BA2121; }
  .highlighttable .sd, .highlight .sd {
    color: #BA2121;
    font-style: italic; }
  .highlighttable .s2, .highlight .s2 {
    color: #BA2121; }
  .highlighttable .se, .highlight .se {
    color: #BB6622;
    font-weight: bold; }
  .highlighttable .sh, .highlight .sh {
    color: #BA2121; }
  .highlighttable .si, .highlight .si {
    color: #BB6688;
    font-weight: bold; }
  .highlighttable .sx, .highlight .sx {
    color: #008000; }
  .highlighttable .sr, .highlight .sr {
    color: #BB6688; }
  .highlighttable .s1, .highlight .s1 {
    color: #BA2121; }
  .highlighttable .ss, .highlight .ss {
    color: #19177C; }
  .highlighttable .bp, .highlight .bp {
    color: #008000; }
  .highlighttable .vc, .highlight .vc {
    color: #19177C; }
  .highlighttable .vg, .highlight .vg {
    color: #19177C; }
  .highlighttable .vi, .highlight .vi {
    color: #19177C; }
  .highlighttable .il, .highlight .il {
    color: #666666; }
  .highlighttable pre, .highlight pre {
    background-color: transparent;
    border-width: 0; }
  .highlighttable .linenos, .highlight .linenos {
    width: 3em;
    background-color: #fbfbfc;
    border-right: 1px dashed #cccccc;
    vertical-align: top; }
    .highlighttable .linenos pre, .highlight .linenos pre {
      margin: 0;
      word-wrap: normal;
      word-break: normal;
      white-space: pre;
      overflow: auto; }
  .highlighttable .code .highlight pre, .highlight .code .highlight pre {
    margin-bottom: 0;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre; }

/*# sourceMappingURL=pygments.css.map */
