/*------------------------------------------------------------------
  [ variables ]

$blue: #337ab7
$black: #535353
$grey: #9E9E9E
$grey-light: #f8f8f8

$black-text: #ffffff
$black-text-54: rgba(255, 255, 255, .54)
$white-text: #000000
$white-text-70: rgba(0, 0, 0, 0.7)
$border-color: #e7e7e7
$border-color-grey: #dddddd
