| ---
| layout: default
| ---

| <!--comment to separate the layout -->
.row
    .col-md-8
        | {% for post in paginator.posts %}
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    a(href='{{ post.url }}') {{ post.title }}
            .panel-body
                author {{ post.author | site.author.name }}

                .content {{ post.content }}
            .panel-footer.clearfix
                | {% unless post.tags == empty %}
                ul.tag_box
                    li: i.fa.fa-tags.fa-fw
                    | {% assign tags_list = post.tags %}
                    | {% include MD/tags_list %}
                | {% endunless %}
                span.date.pull-right {{ post.date | date: '%F' }}
        | {% endfor %}
    .col-md-4
        | {% unless site.categories == empty %}
        ul.list-group
            li.title 分类
            | {% assign categories_list = site.categories %}
            | {% include MD/categories_list %}
        | {% endunless %}
        | {% unless site.tags == empty %}
        ul.list-group
            li.title 标签
            | {% assign tags_list = site.tags %}
            | {% include MD/tags_list %}
        | {% endunless %}

nav
    ul.pagination.pagination-sm
        | {% if paginator.previous_page %}
        li
            | {% if paginator.previous_page == 1 %}
            a(href='/')
                i.fa.fa-arrow-left
            | {% else %}
            a(href='{{ paginator.previous_page_path }}')
                i.fa.fa-arrow-left
            | {% endif %}
        | {% else %}
        li.disabled: a: i.fa.fa-arrow-left
        | {% endif %}

        | {% for count in (1..paginator.total_pages) %}
        | {% if count == 1 %} {% if paginator.page == 1 %}
        li.active
            a 1
        | {% else %}
        li: a(href='/') 1
        | {% endif %} {% elsif count == paginator.total_pages %} {% if paginator.page == paginator.total_pages %}
        li.active: a {{ paginator.page }}
        | {% else %}
        li: a(href='/page{{ paginator.total_pages }}') {{ paginator.total_pages }}
        | {% endif %} {% else%} {% if count == paginator.previous_page %} {% if paginator.previous_page != 2 %}
        li: a ... {% endif %}
        li: a(href='/page{{ count }}') {{count}}
        | {% endif %} {% if count == paginator.page %}
        li.active: a {{count}}
        | {% endif %} {% if count == paginator.next_page %}
        li: a(href='/page{{ count }}') {{count}}
        | {% if forloop.rindex != 2%}
        li: a ... {% endif %}
        | {% endif %} {% endif %}

        | {% endfor %}

        | {% if paginator.next_page %}
        li
            a(href='{{ paginator.next_page_path }}')
                i.fa.fa-arrow-right
        | {% else %}
        li.disabled
            a: i.fa.fa-arrow-right
        | {% endif %}
